In [1]:
import pandas as pd
import numpy as np

In [2]:
### change the raw data file

df = pd.read_csv('C:/Users/anaik/Downloads/gss_sales_since_june.csv')

In [3]:
df.drop(df.index[-1], inplace = True)
df['Store'] = df['Store'].astype(str).str.strip()

In [4]:
df = df[df['Store'].isin(['Game Show Studio - Fort Worth', 
    'Game Show Studio - Sacramento', 
    'Game Show Studio - San Diego'])]

df['Store'].unique()

array(['Game Show Studio - Fort Worth', 'Game Show Studio - Sacramento',
       'Game Show Studio - San Diego'], dtype=object)

In [5]:
df.loc[:, 'Store'] = df['Store'].apply(
    lambda x: x.replace('Game Show Studio - ', '') + ' - GSS'
    if isinstance(x, str) and 'Game Show Studio - ' in x else x
)

In [6]:
df.loc[:, 'Store'] = df['Store'].str.strip()

In [7]:
### change the raw data file

df1 = pd.read_csv('C:/Users/anaik/Downloads/itemized_sales_since_june.csv')

C:\Users\anaik\AppData\Local\Temp\ipykernel_5252\2327203727.py:1: DtypeWarning: Columns (14,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/anaik/Downloads/itemized_sales_since_june.csv')

In [8]:
df1.drop(df1.index[-1], inplace = True)
df1['Store'] = df1['Store'].astype(str).str.strip()

In [9]:
df1 = df1[df1['Store'] != '(Sandbox) Red Door']
df1['Store'].unique()

array(['Red Door - Foxboro', 'Red Door - Gaithersburg',
       'Red Door - Richmond', 'Red Door - Concord',
       'Red Door - Sacramento', 'Red Door - San Mateo',
       'Red Door - San Diego', 'Red Door - Encinitas', 'Red Door - Plano',
       'Red Door - Emeryville', 'Red Door - Las Vegas',
       'Red Door - OKC (Chisholm Creek)', 'Red Door - Fort Worth',
       'Red Door - Topanga', 'Red Door - El Paso',
       'Red Door - OKC (Penn Square)', 'Red Door - Southlake',
       'Red Door - Riverton', 'Red Door - Temecula', 'Red Door - Oxnard'],
      dtype=object)

In [10]:
df1.loc[:, 'Store'] = df1['Store'].apply(
    lambda x: x.replace('Red Door -', '')
    if isinstance(x, str) and ('Red Door - ') in x else x
)

In [11]:
df1.loc[:,'Store'] = df1['Store'].str.replace(r'OKC\s*\(|\)', '', regex=True).str.strip()

In [12]:
df_combined_IS = pd.concat([df, df1], ignore_index = True)
df_combined_IS['Store'].unique()

array(['Fort Worth - GSS', 'Sacramento - GSS', 'San Diego - GSS',
       'Foxboro', 'Gaithersburg', 'Richmond', 'Concord', 'Sacramento',
       'San Mateo', 'San Diego', 'Encinitas', 'Plano', 'Emeryville',
       'Las Vegas', 'Chisholm Creek', 'Fort Worth', 'Topanga', 'El Paso',
       'Penn Square', 'Southlake', 'Riverton', 'Temecula', 'Oxnard'],
      dtype=object)

In [13]:
df_combined_IS.rename(columns={'Store':'Location'}, inplace=True)

In [14]:
df_combined_IS['Booking Total Taxes'] = pd.to_numeric(df_combined_IS['Booking Total Taxes'], errors='coerce').fillna(0)
df_combined_IS['Booking Total Custom Fees'] = pd.to_numeric(df_combined_IS['Booking Total Custom Fees'], errors='coerce').fillna(0)

In [15]:
df_combined_IS = df_combined_IS.sort_values(by=['Location', 'ID'], ascending=[True, True])

In [16]:
df_combined_IS['ID'] = df_combined_IS['ID'].astype(str).str.replace('\.0$', '', regex=True)
df_combined_IS['Booking ID'] = df_combined_IS['Booking ID'].astype(str).str.replace('\.0$', '', regex=True)

In [17]:
pd.set_option('display.max_rows', None)
print(df_combined_IS[['ID', 'Booking Start Date', 'Booking Start Time']].head(50))
pd.reset_option('display.max_rows')

       ID Booking Start Date Booking Start Time
1790  417         06/03/2025             1:00pm
1795  418         06/07/2025             3:55pm
1796  418                NaN                NaN
1800  419         06/03/2025             2:30pm
1803  420         06/20/2025            12:45pm
1804  420         06/20/2025            12:55pm
1805  420         06/20/2025             1:05pm
1806  420         06/20/2025             1:15pm
1811  420                NaN                NaN
1812  421         06/03/2025             5:40pm
1816  422         06/03/2025             5:30pm
1828  424         06/03/2025             7:45pm
1833  425         06/03/2025             8:30pm
1840  426         06/03/2025             8:40pm
1846  427         06/03/2025             8:50pm
1856  429         06/04/2025            10:20am
1857  429         06/04/2025             5:50pm
1863  430         06/04/2025             5:50pm
1870  431         06/07/2025             5:35pm
1876  432         06/04/2025             1:10pm
1883  433         06/04/2025             4:20pm
1889  434         06/05/2025            10:20am
1895  435         06/04/2025             2:40pm
1901  436         06/04/2025             5:30pm
1907  437         06/04/2025             4:00pm
1908  437         06/04/2025             3:15pm
1911  438         06/04/2025             5:40pm
1912  438                NaN                NaN
1918  439         06/04/2025             7:20pm
1924  440         06/11/2025             4:00pm
1929  441         06/04/2025             7:10pm
1941  443         06/04/2025            10:00pm
1946  444         06/06/2025             5:25pm
1951  445         06/05/2025            11:50am
1957  446         06/05/2025             1:00pm
1966  447         06/05/2025             1:20pm
1976  449         06/07/2025            11:15am
1981  450         06/05/2025             1:10pm
1988  451         06/05/2025             1:00pm
1994  452         06/05/2025             2:40pm
2009  454         06/11/2026             3:40pm
2017  455         06/11/2026            12:30pm
2023  456         06/11/2026            12:30pm
2029  457         06/11/2026             2:10pm
2034  458         06/05/2025             5:40pm
2039  459         06/06/2025             6:55pm
2046  460         06/15/2025             1:20pm
2054  461         06/07/2025             6:55pm
2062  462         06/10/2025             4:00pm
2063  462                NaN                NaN

In [18]:
df_combined_IS['Booking Start Date'] = df_combined_IS.groupby(['ID', 'Location'])['Booking Start Date'].ffill()
df_combined_IS['Booking Start Time'] = df_combined_IS.groupby(['ID', 'Location'])['Booking Start Time'].ffill()

In [19]:
pd.set_option('display.max_rows', None)
print(df_combined_IS[['ID', 'Booking Start Date', 'Booking Start Time']].head(50))
pd.reset_option('display.max_rows')

       ID Booking Start Date Booking Start Time
1790  417         06/03/2025             1:00pm
1795  418         06/07/2025             3:55pm
1796  418         06/07/2025             3:55pm
1800  419         06/03/2025             2:30pm
1803  420         06/20/2025            12:45pm
1804  420         06/20/2025            12:55pm
1805  420         06/20/2025             1:05pm
1806  420         06/20/2025             1:15pm
1811  420         06/20/2025             1:15pm
1812  421         06/03/2025             5:40pm
1816  422         06/03/2025             5:30pm
1828  424         06/03/2025             7:45pm
1833  425         06/03/2025             8:30pm
1840  426         06/03/2025             8:40pm
1846  427         06/03/2025             8:50pm
1856  429         06/04/2025            10:20am
1857  429         06/04/2025             5:50pm
1863  430         06/04/2025             5:50pm
1870  431         06/07/2025             5:35pm
1876  432         06/04/2025             1:10pm
1883  433         06/04/2025             4:20pm
1889  434         06/05/2025            10:20am
1895  435         06/04/2025             2:40pm
1901  436         06/04/2025             5:30pm
1907  437         06/04/2025             4:00pm
1908  437         06/04/2025             3:15pm
1911  438         06/04/2025             5:40pm
1912  438         06/04/2025             5:40pm
1918  439         06/04/2025             7:20pm
1924  440         06/11/2025             4:00pm
1929  441         06/04/2025             7:10pm
1941  443         06/04/2025            10:00pm
1946  444         06/06/2025             5:25pm
1951  445         06/05/2025            11:50am
1957  446         06/05/2025             1:00pm
1966  447         06/05/2025             1:20pm
1976  449         06/07/2025            11:15am
1981  450         06/05/2025             1:10pm
1988  451         06/05/2025             1:00pm
1994  452         06/05/2025             2:40pm
2009  454         06/11/2026             3:40pm
2017  455         06/11/2026            12:30pm
2023  456         06/11/2026            12:30pm
2029  457         06/11/2026             2:10pm
2034  458         06/05/2025             5:40pm
2039  459         06/06/2025             6:55pm
2046  460         06/15/2025             1:20pm
2054  461         06/07/2025             6:55pm
2062  462         06/10/2025             4:00pm
2063  462         06/10/2025             4:00pm

In [20]:
df_combined_IS['time id'] = df_combined_IS['Booking Start Date'].astype(str) + df_combined_IS['Booking Start Time'].astype(str)

In [21]:
# List of keywords
keywords = ['game show', 'gameshow']

# Create regex pattern
pattern = '|'.join(keywords)  # 'game show studio|gameshow'

# Boolean mask for rows where Inventory Item contains any keyword
mask = df_combined_IS['Inventory Item'].str.contains(pattern, case=False, na=False)

# Append ' - GSS' only where mask is True and not already appended
df_combined_IS.loc[mask & ~df_combined_IS['Location'].str.endswith(' - GSS'), 'Location'] += ' - GSS'

In [22]:
varchar_columns_IS = ['location code', 'loc id', 'reporting group', 'exclude']
numeric_columns_IS = ['taxes']

for col in varchar_columns_IS:
    df_combined_IS[col] = pd.Series(['']*len(df_combined_IS), dtype="string")

for col in numeric_columns_IS:
    df_combined_IS[col] = pd.Series([np.nan]*len(df_combined_IS), dtype="float")

In [23]:
columns_to_keep_IS = ['Location', 'ID', 'Date', 'Time', 'Status', 'Payment Status', 'Booking ID', 'Booking Status', 
                   'Inventory Type', 'Inventory Item', 'Booking Start Date', 'Booking Start Time', 'Quantity', 'Subtotal', 
                   'Discount Codes Value', 'Gift Voucher Codes Value', 'Discount Codes', 'Booking Net Total', 'Booking Total Taxes',
                   'Booking Total Custom Fees', 'Total', 'Created by', 'Source', 'Initial Payment Method', 'time id', 'location code', 
                   'loc id', 'taxes', 'reporting group', 'exclude']

df_combined_IS = df_combined_IS[columns_to_keep_IS]

In [24]:
### change the name of the output file

df_combined_IS.to_csv('C:/Users/anaik/Downloads/sales_since_june_cleaned_v2.csv', index=False, float_format='%.2f')

In [25]:
### change the raw data file

df2 = pd.read_csv('C:/Users/anaik/Downloads/gss_transactions_since_oct.csv')

In [26]:
df2.drop(df2.index[-1], inplace = True)
df2['Store'] = df2['Store'].astype(str).str.strip()

In [27]:
df2 = df2[df2['Store'].isin(['Game Show Studio - Fort Worth', 
    'Game Show Studio - Sacramento', 
    'Game Show Studio - San Diego'])]

df2['Store'].unique()

array(['Game Show Studio - Fort Worth', 'Game Show Studio - San Diego',
       'Game Show Studio - Sacramento'], dtype=object)

In [28]:
df2.loc[:, 'Store'] = df2['Store'].apply(
    lambda x: f"{x.replace('Game Show Studio - ', '')} - GSS"
    if isinstance(x, str) and 'Game Show Studio - ' in x else x
)

In [29]:
df2.loc[:, 'Store'] = df2['Store'].str.strip()

In [30]:
df2.reset_index(drop=True, inplace=True)

In [31]:
### change the raw data file

df3 = pd.read_csv('C:/Users/anaik/Downloads/all_transactions_since_oct.csv')

C:\Users\anaik\AppData\Local\Temp\ipykernel_5252\2100001618.py:1: DtypeWarning: Columns (9,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('C:/Users/anaik/Downloads/all_transactions_since_oct.csv')

In [32]:
df3.drop(df3.index[-1], inplace = True)
df3['Store'] = df3['Store'].astype(str).str.strip()

In [33]:
df3 = df3[df3['Store'] != '(Sandbox) Red Door']

In [34]:
df3.loc[:, 'Store'] = df3['Store'].apply(
    lambda x: x.replace('Red Door -', '')
    if isinstance(x, str) and ('Red Door - ') in x else x
)

In [35]:
df3.loc[:,'Store'] = df3['Store'].str.replace(r'OKC\s*\(|\)', '', regex=True).str.strip()

In [36]:
df3['Store'].unique()

array(['Plano', 'Penn Square', 'Sacramento', 'San Diego', 'Gaithersburg',
       'Southlake', 'Richmond', 'San Mateo', 'Fort Worth', 'Riverton',
       'Concord', 'Emeryville', 'Foxboro', 'Encinitas', 'Las Vegas',
       'Chisholm Creek', 'El Paso', 'Oxnard', 'Topanga', 'Temecula'],
      dtype=object)

In [37]:
df_combined_AT = pd.concat([df2, df3], ignore_index = True)
df_combined_AT['Store'].unique()

array(['Fort Worth - GSS', 'San Diego - GSS', 'Sacramento - GSS', 'Plano',
       'Penn Square', 'Sacramento', 'San Diego', 'Gaithersburg',
       'Southlake', 'Richmond', 'San Mateo', 'Fort Worth', 'Riverton',
       'Concord', 'Emeryville', 'Foxboro', 'Encinitas', 'Las Vegas',
       'Chisholm Creek', 'El Paso', 'Oxnard', 'Topanga', 'Temecula'],
      dtype=object)

In [38]:
df_combined_AT.rename(columns={'Store':'Location'}, inplace=True)

In [39]:
df_combined_AT.rename(columns={'Transaction ID':'ID'}, inplace=True)
df_combined_AT['ID'] = df_combined_AT['ID'].astype(str).str.replace('\.0$', '', regex=True)

In [40]:
df_combined_IS_first_item = df_combined_IS.sort_values(by=['Location', 'ID']).drop_duplicates(subset=['Location', 'ID'], keep='first')

df_combined_AT = df_combined_AT.merge(
    df_combined_IS_first_item[['Location', 'ID', 'Inventory Item']],
    on=['Location', 'ID'],
    how='left'
)

In [41]:
# List of keywords
keywords = ['game show', 'gameshow']

# Create regex pattern
pattern = '|'.join(keywords)  # 'game show studio|gameshow'

# Boolean mask for rows where Inventory Item contains any keyword
mask = df_combined_AT['Inventory Item'].str.contains(pattern, case=False, na=False)

# Append ' - GSS' only where mask is True and not already appended
df_combined_AT.loc[mask & ~df_combined_AT['Location'].str.endswith(' - GSS'), 'Location'] += ' - GSS'

In [42]:
varchar_columns_AT = ['location code', 'loc id']
numeric_columns_AT = ['new total paid', 'no negatives' 'minus taxes fees', 'revenue calculated']

for col in varchar_columns_AT:
    df_combined_AT[col] = pd.Series(['']*len(df_combined_AT), dtype="string")

for col in numeric_columns_AT:
    df_combined_AT[col] = pd.Series([np.nan]*len(df_combined_AT), dtype="float")

In [43]:
df_combined_AT['new total paid'] = df_combined_AT['Total Paid'] - df_combined_AT['Gift Vouchers Redeemed Value']

df_combined_AT['no negatives'] = np.where(df_combined_AT['new total paid'] > 0, 
                                          df_combined_AT['new total paid'], 0)

df_combined_AT['minus taxes fees'] = df_combined_AT['no negatives'] - (df_combined_AT['Total Taxes'] + 
                                                                       df_combined_AT['Total Custom Fees'])

df_combined_AT['revenue calculated'] = np.where(df_combined_AT['minus taxes fees'] > 0, 
                                                df_combined_AT['minus taxes fees'], 
                                                df_combined_AT['no negatives'])


float_cols = ['new total paid', 'no negatives', 'minus taxes fees', 'revenue calculated']
df_combined_AT[float_cols] = df_combined_AT[float_cols].astype(float)

In [44]:
columns_to_keep_AT = ['Location', 'ID', 'Inventory Item', 'Transaction Date', 'Transaction Status', 'No. of Bookings', 'Bookings Value', 
                      'No. of Gift Vouchers', 'Gift Vouchers Value', 'Transaction Subtotal', 'Discounts Value', 'Discount Codes', 
                      'Gift Vouchers Redeemed Value', 'Gift Vouchers Applied', 'Transaction Net Total', 'Total Taxes', 'Total Custom Fees', 
                      'Transaction Total', 'Transaction Payment Status', 'Total Paid', 'Total Unpaid', 'Total Overpaid', 'Source', 'Created By', 
                      'new total paid', 'no negatives', 'minus taxes fees', 'revenue calculated', 'location code', 'loc id']

df_combined_AT = df_combined_AT[columns_to_keep_AT]

In [45]:
### change the name of the output file

df_combined_AT.to_csv('C:/Users/anaik/Downloads/transactions_since_oct_cleaned_v2.csv', index=False, float_format='%.2f')